
<mat-toolbar color="warn" class="toolbar">
   <button mat-icon-button >
      <i class="material-icons" (click)="drawer.toggle()">menu</i>
   </button>
  
  <span class="heading">Angular Phone a Friend Quiz</span>

  <button mat-icon-button >
      <i class="material-icons" [matMenuTriggerFor]="more">more_vert</i>
  </button>
  <mat-menu #more="matMenu">
    <button mat-menu-item>Help</button>
    <button mat-menu-item>Feedback</button>
    <button mat-menu-item>About Us</button>
  </mat-menu>
</mat-toolbar>


<mat-sidenav-container class="example-sidenav-container" >
  <mat-sidenav #drawer>
    <mat-nav-list >
      <a mat-list-item routerLink=".">Home</a>
      <a mat-list-item routerLink="quiz" >Quiz</a>
      <a mat-list-item routerLink="audio-quiz">Audio Quiz</a>
      <a mat-list-item routerLink="question-form">Create Quiz</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>