<div class="body">
    <h1>ANGULAR ATTACK TEAM</h1>
    <button mat-raised-button color="warn" routerLink="quiz" class="getting">Start Quiz</button>
    <div class="box">

        <mat-card class="item">
            <div class="robert avtar"></div>
            <mat-card-title class="title">
                Robert King
            </mat-card-title>
        </mat-card>

        <mat-card class="item">
            <div class="vinay avtar"></div>
            <mat-card-title class="title">
                Vinay
            </mat-card-title>
        </mat-card>

        <mat-card class="item">
            <div class="fab avtar"></div>
            <mat-card-title class="title">
                Fabrice GINAPÉ
            </mat-card-title>
        </mat-card>

        <mat-card class="item">
            <div class="sirani avtar"></div>
            <mat-card-title class="title">
                Sirani McNeill
            </mat-card-title>
        </mat-card>
    </div>


</div>