<div class="quiz">
    <mat-card class="quiz-box">

        <app-countdown-timer [(secondsCount)]='secondsCount' (timeUp)='onNotify($event)' (countDownEvent)='onCountChange($event)'>
        </app-countdown-timer>

        <mat-card class="q-box" *ngIf= " question.audioUrl.length === 0 ">
            <mat-card-title>{{question.label}}</mat-card-title>
        </mat-card>
       
        <app-audio-question *ngIf=" question.audioUrl.length !== 0 "></app-audio-question>
        

        <mat-card-content class="options">
            <mat-radio-group class="example-radio-group">
                <mat-radio-button class="example-radio-button" *ngFor="let choice of question.choices" [value]="choice">
                    {{ choice.option}} -> {{ question.audioUrl.length}}
                </mat-radio-button>
            </mat-radio-group>
        </mat-card-content>
        <mat-card-actions class="action">
            <button mat-raised-button color="warn" (click)="refresh()">Next Question</button>
        </mat-card-actions>

    </mat-card>
</div>